@model Product
@{
    ViewData["Title"] = "Detail";
}

<!-- main wrapper start -->
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">shop</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item"><a asp-controller="Product" asp-action="Index">Shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product Details</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- product details wrapper start -->
    <div class="product-details-wrapper section-padding">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <!-- product details inner end -->
                    <div class="product-details-inner">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="product-large-slider mb-20">
                                    @foreach (ProductImage productImage in Model.ProductImages)
                                    {
                                        <div class="pro-large-img img-zoom">
                                            <img src="~/assets/img/product/@productImage.Image" alt="" />
                                        </div>
                                    }

                                </div>
                                <div class="pro-nav slick-row-5">

                                    @foreach (ProductImage productImage in Model.ProductImages)
                                    {
                                        <div class="pro-nav-thumb"><img src="~/assets/img/product/@productImage.Image" alt="" /></div>

                                    }
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="product-details-des">
                                    <h3 class="pro-det-title">@Model.Title</h3>
                                    <div class="pro-review">
                                        <span><a href="#">@Model.Reviews.Count() Review(s)</a></span>
                                    </div>
                                    <div class="price-box">
                                        @if (Model.DiscountedPrice != null && Model.DiscountedPrice > 0)
                                        {
                                            <span class="regular-price">$@Model.DiscountedPrice</span>
                                            <span class="old-price"><del>$@Model.Price</del></span>
                                        }
                                        else
                                        {
                                            <span class="regular-price">$@Model.Price</span>
                                        }
                                    </div>
                                    <p>
                                        @Model.SmallDescription
                                    </p>
                                    <div class="quantity-cart-box d-flex align-items-center mb-20">
                                        <a asp-controller="Basket" asp-action="AddBasket" asp-route-id="@Model.Id" class="btn btn-default addBasket">Add To Cart</a>
                                    </div>
                                    <div class="availability mb-20">
                                        <h5 class="cat-title">Availability:</h5>
                                        @if (Model.Count != null && Model.Count > 0)
                                        {
                                            <span>In Stock</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">Out Of Stock</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product details inner end -->
                    <!-- product details reviews start -->
                    <div class="product-details-reviews section-padding">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="product-review-info">
                                    <ul class="nav review-tab">
                                        <li>
                                            <a class="active" data-toggle="tab" href="#tab_one">description</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#tab_two">information</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#tab_three">reviews</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content reviews-tab">
                                        <div class="tab-pane fade show active" id="tab_one">
                                            <div class="tab-one">
                                                @Html.Raw(Model.FullDescription)
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab_two">
                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td>color</td>
                                                        <td>black, blue, red</td>
                                                    </tr>
                                                    <tr>
                                                        <td>size</td>
                                                        <td>L, M, S</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade" id="tab_three">
                                            <h6 style="font-weight:400" class="pro-det-title pb-1">Reviews For product:<span> "@(Model.Title)"</span></h6>
                                            <div style="overflow:auto; max-height:400px;border:1px dashed #e3a51e; border-radius:10px;" class="reviewContainer p-3">
                                                @if (Model.Reviews != null && Model.Reviews.Count() > 0)
                                                {
                                                    @await Html.PartialAsync("_ReviewsPartial",Model.Reviews)
                                                }
                                                else
                                                {
                                                    <p>No reviews yet...</p>
                                                }

                                            </div>

                                            @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
                                            {
                                                <div class="mt-3">
                                                    <form method="post" asp-controller="Product" asp-action="Review" asp-route-productId="@Model.Id" class="review-form">

                                                        <div class="form-group row">
                                                            <div class="col">
                                                                <label for="comment" class="col-form-label"><span class="text-danger">*</span>Your Review</label>
                                                                <textarea name="comment" class="form-control" required></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col">
                                                                <label for="rating" class="col-form-label"><span class="text-danger">*</span> Rating</label>
                                                                &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                                                <input type="radio" value="1" name="rating">
                                                                &nbsp;
                                                                <input type="radio" value="2" name="rating">
                                                                &nbsp;
                                                                <input type="radio" value="3" name="rating">
                                                                &nbsp;
                                                                <input type="radio" value="4" name="rating">
                                                                &nbsp;
                                                                <input type="radio" value="5" name="rating" checked>
                                                                &nbsp;Good
                                                            </div>
                                                        </div>
                                                        <div class="buttons">
                                                            <button class="sqr-btn btn postReview" type="submit">Post</button>
                                                        </div>
                                                    </form> <!-- end of review-form -->
                                                </div>
                                                
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product details reviews end -->
                </div>
            </div>
        </div>
    </div>
    <!-- product details wrapper end -->
</main>
<!-- main wrapper end -->