@model ProfileVM
@{
    ViewData["Title"] = "Profile";

    bool isAddress = TempData["Tab"]?.ToString() == "Address";
    bool isOrder = TempData["Tab"]?.ToString() == "Order";
    bool isAccount = TempData["Tab"]?.ToString() == "Account";
    bool isDashboard = TempData["Tab"]?.ToString() == null;
    bool AddressError = TempData["address"]?.ToString() == "true";
    bool editAddressError = TempData["EditAddress"]?.ToString() == "true";
}

<!-- main wrapper start -->
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">My Account</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">My Account</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- my account wrapper start -->
    <div class="my-account-wrapper section-padding">
        <div class="container custom-container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- My Account Page Start -->
                    <div class="myaccount-page-wrapper">
                        <!-- My Account Tab Menu Start -->
                        <div class="row">
                            <div class="col-lg-3 col-md-4">
                                <div class="myaccount-tab-menu nav" role="tablist">
                                    <a class="@(isDashboard?"active":"")" href="#dashboad" data-toggle="tab">
                                        <i class="fa fa-dashboard"></i>
                                        Dashboard
                                    </a>
                                    <a class="@(isOrder?"active":"")" href="#orders" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>
                                    <a class="@(isAddress?"active":"")" href="#address-edit" data-toggle="tab"><i class="fa fa-map-marker"></i> address</a>
                                    <a class="@(isAccount?"active":"")" href="#account-info" data-toggle="tab"><i class="fa fa-user"></i> Account Details</a>
                                    <a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out"></i> Logout</a>
                                </div>
                            </div>
                            <!-- My Account Tab Menu End -->
                            <!-- My Account Tab Content Start -->
                            <div class="col-lg-9 col-md-8">
                                <div class="tab-content" id="myaccountContent">
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade @(isDashboard?"show active":"")" id="dashboad" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Dashboard</h3>
                                            <div class="welcome">
                                                <p>Hello, <strong>Alex Tuntuni</strong> (If Not <strong>Tuntuni !</strong><a href="login-register.html" class="logout"> Logout</a>)</p>
                                            </div>
                                            <p class="mb-0">From your account dashboard. you can easily check & view your recent orders, manage your shipping and billing addresses and edit your password and account details.</p>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade @(isOrder?"show active":"")" id="orders" role="tabpanel">
                                        <div class="myaccount-content">
                                            <h3>Orders</h3>
                                            <div class="myaccount-table table-responsive text-center">
                                                <table class="table table-bordered">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>Order</th>
                                                            <th>Date</th>
                                                            <th>Status</th>
                                                            <th>Total</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Aug 22, 2018</td>
                                                            <td>Pending</td>
                                                            <td>$3000</td>
                                                            <td><a href="cart.html" class="btn ">View</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>July 22, 2018</td>
                                                            <td>Approved</td>
                                                            <td>$200</td>
                                                            <td><a href="cart.html" class="btn ">View</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>June 12, 2017</td>
                                                            <td>On Hold</td>
                                                            <td>$990</td>
                                                            <td><a href="cart.html" class="btn ">View</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Tab Content End -->
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade @(isAddress?"show active":"")" id="address-edit" role="tabpanel">
                                        <div class="myaccount-content">
                                            <a href="#" class="btn sqr-btn text-monospace mb-4 goBackBtn @(AddressError? "":"d-none")"><i class="fa fa-edit"></i> Back To Addresse</a>

                                            <a href="#" class="btn sqr-btn text-monospace mb-4 addAddressBtn @( AddressError || editAddressError ? "d-none":"")"><i class="fa fa-edit"></i> Add Address</a>
                                            <h3 class="billingh3   @(AddressError? "":"d-none")">Add Address</h3>
                                            <h3 class="accounth3">Billing Address</h3>
                                            <div class="addressForm @(AddressError? "":"d-none")">
                                                @await Html.PartialAsync("_AddressPartial", Model.Address)
                                            </div>
                                            <div class="addressContainer @(AddressError || editAddressError? "d-none":"")">
                                                <div style="column-gap:80px; row-gap:30px" class=" d-flex flex-wrap">
                                                    @foreach (Address address in Model.Addresses.OrderByDescending(a => a.isDefault))
                                                    {
                                                        <div class="singleAddress">
                                                            <address>
                                                                <p>
                                                                    <strong>
                                                                        @address.Country
                                                                        @if (address.isDefault)
                                                                        {
                                                                            <span class="badge badge-pill badge-info">Default</span>
                                                                        }
                                                                    </strong>
                                                                </p>
                                                                <p>
                                                                    @address.Line1 <br>
                                                                    @address.Line2, @address.PostalCode
                                                                </p>
                                                                <p>@address.Town</p>
                                                                <p>@address.State</p>
                                                            </address>
                                                            <a class="check-btn sqr-btn editAddressForm asp-controller="Account" asp-action="editAddress" asp-route-id="@address.Id"><i class="fa fa-edit"></i> Edit Address</a>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Single Tab Content End -->
                                    <!-- Single Tab Content Start -->
                                    <div class="tab-pane fade @(isAccount?"show active":"")" id="account-info" role="tabpanel">
                                        @await Html.PartialAsync("_ProfileAccountPartial",Model.ProfileAcoountVM)
                                    </div>
                                    <!-- Single Tab Content End -->
                                </div>
                            </div> <!-- My Account Tab Content End -->
                        </div>
                    </div> <!-- My Account Page End -->
                </div>
            </div>
        </div>
    </div>
    <!-- my account wrapper end -->
</main>
<!-- main wrapper end -->